.footer {
    background-color: #98d3eb;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.contents {
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 2%;
}

.title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.team_member {
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.giticon {
    margin: auto;
}
